## Dados das cidades alagoanas no ano de 2021

In [1]:
import pandas as pd
df = pd.read_csv('caso_full_al.csv')
df.head()

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Maceió,2704302.0,2020-03-08,202011,1025360.0,1018948.0,False,False,1,0.09753,2020-03-08,0.0,0,1,city,AL,1,0
1,Maceió,2704302.0,2020-03-09,202011,1025360.0,1018948.0,False,False,1,0.09753,2020-03-09,0.0,0,2,city,AL,0,0
2,Maceió,2704302.0,2020-03-10,202011,1025360.0,1018948.0,False,False,1,0.09753,2020-03-10,0.0,0,3,city,AL,0,0
3,Maceió,2704302.0,2020-03-11,202011,1025360.0,1018948.0,False,True,1,0.09753,2020-03-10,0.0,0,4,city,AL,0,0
4,Maceió,2704302.0,2020-03-12,202011,1025360.0,1018948.0,False,False,1,0.09753,2020-03-12,0.0,0,5,city,AL,0,0

In [2]:
data_inicial = "2020-12-01"
data_final = "2021-12-01"
df_filtered = df.loc[(df['date'] >= data_inicial) & (df['date'] < data_final)]
# df_filtered.to_csv('dados_full_cidades_2021.csv')
df_filtered.head()

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
21724,Anadia,2700201.0,2020-12-01,202049,17526.0,17545.0,False,False,513,2927.07977,2020-12-01,0.0175,9,223,city,AL,1,0
21725,Arapiraca,2700300.0,2020-12-01,202049,233047.0,231747.0,False,False,12963,5562.39728,2020-12-01,0.0133,173,228,city,AL,28,0
21726,Atalaia,2700409.0,2020-12-01,202049,47365.0,47185.0,False,False,640,1351.20870,2020-12-01,0.0359,23,220,city,AL,0,0
21727,Barra de Santo Antônio,2700508.0,2020-12-01,202049,16068.0,15932.0,False,False,137,852.62634,2020-12-01,0.1022,14,223,city,AL,0,0
21728,Barra de São Miguel,2700607.0,2020-12-01,202049,8378.0,8322.0,False,False,166,1981.37980,2020-12-01,0.0301,5,217,city,AL,0,0

### Testes nos clusters

## Dados do estado de Alagoas no ano de 2021

In [3]:
df_al = pd.read_csv('covid19-full.csv')
df_al.head()

,epidemiological_week,date,order_for_place,state,city,city_ibge_code,place_type,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,new_confirmed,last_available_deaths,new_deaths,last_available_death_rate,estimated_population,is_last,is_repeated
0,202213,2022-03-27,750,AL,NaN,27,state,295972,8830.91758,0,6869,0,0.0232,3351543,False,True
1,202212,2022-03-26,749,AL,NaN,27,state,295972,8830.91758,56,6869,3,0.0232,3351543,True,False
2,202212,2022-03-25,748,AL,NaN,27,state,295916,8829.24671,202,6866,0,0.0232,3351543,False,False
3,202212,2022-03-24,747,AL,NaN,27,state,295714,8823.21963,195,6866,6,0.0232,3351543,False,False
4,202212,2022-03-23,746,AL,NaN,27,state,295519,8817.40142,100,6860,5,0.0232,3351543,False,False

In [4]:
df_filtered_al = df_al.loc[(df_al['date'] >= data_inicial) & (df_al['date'] < data_final)]
# df_filtered_al.to_csv('dados_full_alagoas_2021.csv')
df_filtered_al.head()

,epidemiological_week,date,order_for_place,state,city,city_ibge_code,place_type,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,new_confirmed,last_available_deaths,new_deaths,last_available_death_rate,estimated_population,is_last,is_repeated
117,202148,2021-11-30,633,AL,NaN,27,state,241490,7205.33796,19,6352,2,0.0263,3351543,False,False
118,202148,2021-11-29,632,AL,NaN,27,state,241471,7204.77106,39,6350,2,0.0263,3351543,False,False
119,202148,2021-11-28,631,AL,NaN,27,state,241432,7203.60741,23,6348,2,0.0263,3351543,False,False
120,202147,2021-11-27,630,AL,NaN,27,state,241409,7202.92116,15,6346,2,0.0263,3351543,False,False
121,202147,2021-11-26,629,AL,NaN,27,state,241394,7202.47361,15,6344,2,0.0263,3351543,False,False

### Teste de série temporal no estado de Alagoas

In [5]:
from statsmodels.tsa.stattools import adfuller

df_filtered_al = df_filtered_al[['date', 'new_deaths']]
df_filtered_al.loc[:,'date'] = pd.to_datetime(df_filtered_al.loc[:,"date"]).copy()
df_filtered_al.set_index('date', inplace=True)

adfuller(df_filtered_al)

(-0.9178381431050315,
 0.7820413171714241,
 1,
 363,
 {'1%': -3.448493650810824,
  '5%': -2.8695352280356556,
  '10%': -2.5710293341377715},
 871.807498546134)